@model FinalProject.Models.BooksRequests

@{
    Layout = "_Layout";
    var title = "UPDATE BooksRequests";
    ViewData["Title"] = title;
}


<h4>@title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label id="Book_id" name="Book_id" class="control-label">Book_id</label>
                <input id="Book_id" name="Book_id" class="form-control" value="@Model.Book_id" />
            </div>
            <div class="form-group">
                <label id="User_id" name="User_id" class="control-label">User_id</label>
                <input id="User_id" name="User_id" class="form-control" value="@Model.User_id" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

