@model FinalProject.Models.Roles

@{
    Layout = "_Layout";
    var title = "CREATE Roles";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form class="m-1 p-1" method="post">
    <div class="form-group">
        <label asp-for="Role_name"></label>
        <input asp-for="Role_name" class="form-control" />
        <span asp-validation-for="Role_name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
